<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<style>
	
	footer {
	    background-color: #777;
	    padding: 10px;
	    text-align: center;
	    color: white;
	    height: 6vh;
	}
	
	#content {
		padding: 30px;
	    background-color: powderblue;
	    position: center;
	    min-height: 88vh;
	}
	
	h2{
		text-align: center;
	}
	</style>
	
	
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>	
		<nav th:replace="fragments/fragment :: navbar"></nav>	
		<div id="content" class="container-full-bg">	
		
			<h2 th:text="${status}"></h2>
		</div>
	<footer>
		  <i>&COPY; Rismanti Amalia N</i>
	</footer>
	</body>
</html>